# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Devenv / Nix
.devenv/
.direnv/
devenv.nix
devenv.local.nix
flake.nix
flake.lock
enterShell.sh
scripts.nix
.gcloud_config/

# Terraform
terraform/
tfplan
*.tfstate
*.tfstate.backup
.terraform/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# Secrets / Env
.env
.env.*
!/.env.template

# Build artifacts (if any, other than what's handled by multi-stage)
dist/
build/

# Logs
*.log

# Other project specific files not needed in image
README.md
PLAN.md
TODO
lt.txt
.pre-commit-config.yaml
